#product-table {
  border:3px solid darkgray;
  text-align: left;
  width: 100%;
  }
#product-row {
  border:1px solid darkgray;
}

  #product-table td, #product-table th {
    padding: 15px;
  }

  #product-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

